header {
  background-color: yellow;
  text-align: right
}

body {
  background-color: green;
}

.nav_text {
  background-color: black;
}

aside {
  background: white;
  background-image: url("http://www.literarygenius.info/images/william-shakespeare.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: inherit;
  background-size: 150px;
  background-position: 50px 200px;
  display: inline-block;
  padding: 10px 50px 250px 50px;
  float: right;
}

nav li {
  /* margin: 10px 0; */
  /* width: 20%; */
  display: inline-block;
}

nav li a {
  color: white;
  background-color: black;
  padding: 20px 50px;
  text-decoration: none;
}

.content {
  background-color: grey;
}
.content ul{
  text-align: center;
  list-style-type: none;
}

footer {
  background-color: green;
}
