* {
    box-sizing: border-box;
}
html, body, header, footer {
    margin: 0;
    padding: 0;
    color: #40413d;
    font-family: Lucida Console, Courier, monospace;
    /* color: lightgrey; */
}
html, body{
	height: 100%;
}

header {
    box-shadow: 0px 18px 26px 1px rgba(141, 141, 139, .75);
    width: 100%;
    position: fixed;
}

h1{
  display: inline-block;
  text-align: center;
  font-size: 175%;
}

h2 {
    margin-top: 200px;
    padding-top: 30px;
    font-size: 120%;
    text-align: center;
}

#our_friends{
  margin-top: 230px;
  text-align: center;
}
body {
  background: rgb(237, 241, 242);
  display: flex;
  flex-direction: column;
}

nav.main-nav {
  background: rgb(188, 217, 220);
  text-align: center;
  /* padding-top: 0; */
}
.main-nav ul{
  /* border-top: 1px solid; */
  /* border-color: red;
  width: 80%; */
  margin: 0;
  display:block;
  list-style-type: none;
  padding: 0;
  /* width: 80% */
}

.main-nav ul li{
  margin-top: 0px;
  padding: 5px;
  font-size: 15px;
  /* border-top: 2px solid #FFFAFA; */
  /* text-align: center; */
}

.main-nav ul li a.current-page{
	color: #FFFAFA;
	font-weight: bold;
}

a {
  text-decoration: none;
  color: #40413d;

}

.home_content{
  padding-top: 10px;
  padding-bottom: 40px;
  margin-top: 200px;
  text-align: center;
}

.home_content p{
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.home_content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 30px;
  box-shadow: 0px 8px 10px grey, -10px 8px 15px grey, 10px 8px 15px grey;
}

.line{
  border-top: 1px solid grey;
  width: 75%;
  margin: auto;
}

.nav_line {
  border-top: 1px solid #FFFAFA;
  width: 75%;
  margin: auto;
  /* display: none; */
}

#end{
  padding-bottom: 100px;
}

.about_div{
  margin-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

/* margin-top: 30px;
padding-bottom: 20px;
text-align: center; */

#about1{
  margin-top: 200px;
  padding-top: 10px;
}

.about_div p{
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;

}

#about_img1{
  margin-top: 30px;
}

.about_div img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 50px;
  box-shadow: 0px 8px 10px grey, -10px 8px 15px grey, 10px 8px 15px grey;
}
.friend{
  margin-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  /* border-bottom: 1px solid grey; */
}

#friend1{
  margin-top: 10px;
  padding-top: 10px;
}

.friend img{
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 20px;
  box-shadow: 0px 8px 10px grey, -10px 8px 15px grey, 10px 8px 15px grey;
}

.friend p{
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;

}

h4 {
  margin-bottom: 10px;
  font-size: 120%;
  margin-top: 10px;
}


footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgb(188, 217, 220);
	font-size: .85em;
	text-align: center;
	box-shadow: 0px -10px 30px 2px rgba(141, 141, 139, .75);
}
